280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;12;CPBundleNameS;7;CardanoK;18;CPBundleIdentifierS;28;org.hnlab.cappuccino.CardanoK;15;CPBundleVersionS;3;0.1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;10;Cardano.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;